/* Menu Dropdown */
.cf:before,
.cf:after {content: " "; display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

.menu,.submenu { margin: 0;padding: 0;list-style: none;}
.menu { margin: 50px auto; width: 800px; width: fit-content;}
.menu > li { background: #000;float: left; position: relative;transform: skewX(25deg);}
.menu a {   display: block; color: #fff; text-transform: uppercase;
            text-decoration: none; font-family: Arial, Helvetica;font-size: 14px;}  
.menu li:hover { background: #e74c3c;}  
.menu > li > a { transform: skewX(-25deg); padding: 1em 2em;}

/* Dropdown */
.submenu {  position: absolute; width: 200px; left: 50%; margin-left: -100px;
            transform: skewX(-25deg);transform-origin: left top;}
.submenu li { background-color: #34495e; position: relative; overflow: hidden;}
.submenu > li > a { padding: 1em 2em;}
.submenu > li::after {  content: ''; position: absolute;
                        top: -125%; height: 100%; width: 100%;
                        box-shadow: 0 0 50px rgba(0, 0, 0, .9);}
.submenu > li:nth-child(odd){transform: skewX(-25deg) translateX(0);}
.submenu > li:nth-child(odd) > a {transform: skewX(25deg);}
.submenu > li:nth-child(odd)::after { right: -50%; transform: skewX(-25deg) rotate(3deg);}    
.submenu > li:nth-child(even){transform: skewX(25deg) translateX(0);}
.submenu > li:nth-child(even) > a {transform: skewX(-25deg);}
.submenu > li:nth-child(even)::after {left: -50%;transform: skewX(25deg) rotate(3deg);}

/* Show dropdown */
.submenu,.submenu li { opacity: 0; visibility: hidden;}
.submenu li { transition: .2s ease transform;}

.menu > li:hover .submenu,.menu > li:hover .submenu li { opacity: 1; visibility: visible;}  
.menu > li:hover .submenu li:nth-child(even){transform: skewX(25deg) translateX(15px);}
.menu > li:hover .submenu li:nth-child(odd){transform: skewX(-25deg) translateX(-15px);}


/* the upper black one */
body{background:#192226;}
.navbar-inverse{ background:#222B31;border-bottom:4px solid #EE445F;}
.navbar-brand{  font:12px Lato;text-transform:uppercase;
                color: #fff;letter-spacing:2px;margin-top:2px;}
.nav{margin-bottom:0px;}
nav.a{  font-size: 11px ;padding: 16px;color:#a3bfc6;text-transform:uppercase;position:relative;z-index:1000;}
nav.a:hover{color:#FFF;}
nav.li{position:relative;}
.navbar-inverse .navbar-toggle{border:none;}
.navbar-collapse{box-shadow:none;border:none;}
.navbar-inverse .navbar-toggle:hover{background:transparent;}
.navbar-inverse .navbar-toggle:focus{background:transparent;}
.navbar-inverse .navbar-toggle:active{background:transparent;}

.icon-bar{background:#a3bfc6;}  
.hover{ display:block;position:absolute;width:0%;height:100%;
        top:0px;left:0px;background:#EE445F;z-index:0;opacity:0;}
        
@media (max-width: 767px) {
    .nav{padding-bottom:20px;}
    nav.a{padding:12px;}}
@media (max-width: 480px) {
    .nav{padding-bottom:20px;}}