/* Menu Dropdown */
.menu,.submenu { padding: 0;list-style: none;}
.menu { margin: 50px auto; width: 800px; width: fit-content;margin-right: 350px}
.menu > li { background: #000000;float: left; position: relative;transform: skewX(25deg);border: #ff002b solid 2px;box-shadow: #8d2a3c 15px 13px 12px;
}
.menu a {   display: block; color: #e8e3e3; text-transform: uppercase;font-family: 'Orbitron';
            text-decoration: none;font-size: 14px;}  
.menu li:hover { background: #b12111;}  
.menu > li > a { transform: skewX(-25deg); padding: 16px 32px;}

/* Dropdown */
.submenu {  position: absolute; width: 200px; left: 50%; margin-left: -100px;
            transform: skewX(-25deg);transform-origin: left top;}
.submenu li { background-color: #991111; position: relative; overflow: hidden;}
.submenu > li > a { padding: 16px 32px;}
.submenu > li::after {  content: ''; position: absolute;
                        top: -125%; height: 100%; width: 100%;
                        box-shadow: 0 0 50px rgba(0, 0, 0, .9);}
.submenu > li:nth-child(odd){transform: skewX(-25deg) translateX(0);}
.submenu > li:nth-child(odd) > a {transform: skewX(25deg);}
.submenu > li:nth-child(odd)::after { right: -50%; transform: skewX(-25deg) rotate(3deg);}    
.submenu > li:nth-child(even){transform: skewX(25deg) translateX(0);}
.submenu > li:nth-child(even) > a {transform: skewX(-25deg);}
.submenu > li:nth-child(even)::after {left: -50%;transform: skewX(25deg) rotate(3deg);}

/* Show dropdown */
.submenu,.submenu li { opacity: 0; visibility: hidden;}
.submenu li { transition: .2s ease transform;}

.menu > li:hover .submenu,.menu > li:hover .submenu li { opacity: 1; visibility: visible;}  
.menu > li:hover .submenu li:nth-child(even){transform: skewX(25deg) translateX(15px);}
.menu > li:hover .submenu li:nth-child(odd){transform: skewX(-25deg) translateX(-15px);}


/* the upper grey one */
body{background:#192226;}
.navbar-inverse{ background:#222B31;border-bottom:4px solid #d31a39;}
.navbar-brand{  font:12px Lato;text-transform:uppercase;left: -55px;position: relative;
                color: #fff;letter-spacing:2px;margin-top:2px;}
.nav{margin-bottom:0px;}
nav.a{  font-size: 11px ;padding: 16px;color:#edeeee;text-transform:uppercase;position:relative;z-index:1000;}
nav.a:hover{color:#FFF;}
nav.li{position:relative;}
.navbar-inverse .navbar-toggle{border:none;}
.navbar-collapse{box-shadow:none;border:none;}
.navbar-nav {font-family: 'Caveat', cursive;font-size: 20px; text-align: center;margin-left: 100px;}
.navbar-inverse .navbar-toggle:hover{background:transparent;}
.navbar-inverse .navbar-toggle:focus{background:transparent;}
.navbar-inverse .navbar-toggle:active{background:transparent;}
img.my-logo{height: 150px;float: right;position:absolute;border: #ff002b solid 5px;box-shadow: #d62644 10px 10px 13px;right: 20px;background-color: #000000;}

/* content */
.my-pic {display: inline-flex;height: 300px;margin-top: 82px;}
img.me { width : 300px; height : 300px; border-radius : 146px 0px 119px 0px;position:relative;margin-right: 120px;float: left;border: #ec0d32 double 10px;box-shadow: #a6001c 15px 13px 12px;left: 72px;}
.text {margin-top: 9px}
span.me {font-family: 'Fasthand', cursive;border: #ff002b double 4px;box-shadow: #e63c5b 15px 13px 12px;color: #ffffff;font-size: 34px;padding: 5px;height: 70px;margin-top: 50px;background: #000000;line-height: 75px;}
p.me {color: #edeeee; font-family: 'Caveat', cursive; line-height: 4em;font-size: 20px;}
p.me3 {color: #a0a9a9; font-family: 'Caveat', cursive; line-height: 1px;font-size: 20px;}
p.me2 { font-family: 'Fasthand', cursive;font-size: 20px; letter-spacing: 2px;color: #edeeee;line-height: 27px;text-align: center;
    position: relative;margin-left: 5px;height: 90px;background: linear-gradient(0deg, #000, #272727);padding: 20px;}
p.me2:before, p.me2:after {content: '';position: absolute;left: -2px;
        top: -2px;background: linear-gradient(45deg, #fb0094, #1a1a64, #196019,#7e7e15, #ff0000, #fb0094,
        #0000ff, #00ff00,#5a5a0e, #ff0000);
        background-size: 400%;width: calc(100% + 4px);height: calc(100% + 4px);
        z-index: -1;animation: steam 20s linear infinite;}
@keyframes steam {  0% {background-position: 0 0;}
                    50% {background-position: 400% 0;}
                    100% {background-position: 0 0;}}
p.me2:after {filter: blur(50px);}